[user]
       	name = Cole Diffin
       	email = cole.diffin@orionhealth.com
[commit]
       	template = /Users/coledi/.git-commit-message
[format]
       	pretty = %C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s
[log]
       	abbrevCommit = true
